body {
    color: #eee;
    background: #121212;
  }

body a {
    color: #809fff;
  }

.navbar-style {
    background-color: #262930;
}

.ig-title {
    font-size: 25px;
}

.drop-resize {
    height: 37px;
}

/* .drop-resize img {
    padding-top: -1.75px;
    padding-bottom: 1.75px;
} */

small {
    font-size: 10px;
    justify-content: end;
}

.rotate-90deg {
    transform: rotate(90deg);
}

/* .adjust-grid-sizing {
    min-width: 10rem;
    min-height: 10rem;
} */

/* .adjust-grid-sizing img {
    /* object-fit: cover; */
    max-width: 200px;
    max-height: 200px;
} */
img {
    /* object-fit: cover; */
    max-width: 200px;
    max-height: 200px;
}

.give-border {
    border: solid red;
}

.modal-post-buttons {
    border: solid 1px transparent;
}

.new-post-button {
    padding: 6px 3px !important;
}

#posts-container {
    /* width: 100%;
    height: auto;
    display: flex;
    justify-content: center; */
    
}