body {
    color: #eee;
    background: #121212;
  }

body a {
    color: #809fff;
  }

.navbar-style {
    background-color: #262930;
}

.ig-title {
    font-size: 25px;
}

.drop-resize {
    height: 37px;
}


small {
    font-size: 10px;
}

.rotate-90deg {
    transform: rotate(90deg);
}

.modal-post-buttons {
    border: solid 1px transparent;
}

.new-post-button {
    padding: 6px 3px !important;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

#post-column-container {
    border: solid red;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#post-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

#post-grid img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

#post-grid div {
    margin: 5px 5px;
}
